@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.top{
    text-align: center;
    padding: 2em;
    background-color: white;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logo img{
    width: 10%;
    height: 10%;
}

.line{
    border-bottom: 4px solid rgba(44, 44, 44, .3);
    display: block;
    margin: 1em;
}

.tabs a{
    text-transform: uppercase;
    margin: 1em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.tabs span a{
    color: #ff9f0d;
}

.hero-bg{ 
    background: url('../images/studying.jpg');   
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-areas: 
        "form header";
    height: 800px;
}

header{
    grid-area: header;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4rem;
    color: white;
    text-align: center;
    margin: 4em;
}
header span{
    display: block;
}

.form-box {
    position: relative;
    overflow: hidden;
    text-align: center;
    grid-area: form;
    background-color: white;
    margin: 7em 12em;
    border-radius: .5em;
}

.button-box {
    margin: 4em;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 1em;
    position: relative;
}

.toggle-btn{
    padding: 1em 4em;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top:0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 1em;
    transition: .5s;
    
}

.social-icons{
    margin: 0;
    text-align: center;
}
.social-icons img{
    margin: 0 2.2em;
    width: 10%;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer; 
    border-radius: 50%;
}

.input-group{
    margin: 1em 0;
    position: absolute;
    transition: .5s;
    
}

.input-field{
    display: block;
    width: 100%;
    padding: 1em 0;
    margin: 1em 4em;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}

.submit-btn{
    width: 85%;
    padding: 1em 1em;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 1em;
}

.check-box{
    margin: 1em ;
    margin-left: 4em;
}

.span{
    color: #777;
    font-size: 12rem;
    bottom: 10%;
    position: absolute;
}

.input-group button{
    margin-left: 5.5em;
    margin-top: 1em;
}

#login{
    left:6em;

}



#register{
    left: 40em;

}