<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/about.css">
</head>
<body>
    <div class="top">
        <div class="title">
            <img src="/static/logo.png" alt="Logo of SheduleDeck">
            <header>
                <a href="../index">ScheduleDeck</a>
            </header>
            <a href="../projAbout">About</a>
        </div>

         
        <span class="line"></span>
     </div>

     <div class="hero">
         <h1>ScheduleDeck</h1>
         <h2>By Alyssa Foglia, Diego Carstens, Matthew Hibbs, Tan Nguyen</h2>
         <p>
            A web application that utilizes the Canvas API to compile a list of “Things To Do” based on the user’s class assignments 
            priority. Priority is determined by assignments due date. Priority can also be manually set by the user. In addition, 
            the application can also act as a scheduling application, so users can add their own schedule outside of canvas. 
            The user will also be able to create a personal account and login to access their ‘Things To Do’ list.
         </p>
         <p>
            The team will build a web application that helps students schedule the tasks they need to complete for their classes. 
            The programming languages the team will use are Python and JavaScript. The tools that will be used are the Canvas REST API 
            and a database program, MongoDB, in addition to a backend framework such as Flask/Django with a simple HTML/CSS frontend. 
            Ideally, the application will be deployed in Docker using containers (one for the main framework, another for the database).
         </p>
         <p>The challenge statement the team is addressing is #3, a student resource that will assist in the quality and delivery 
            of education through online learning due to the pandemic. Our project contributes to addressing the challenge statement
            by allowing students to be more aware of what assignments they need to complete. Our project acts as a method for 
            streamlining education by helping students with time management, which may ultimately lead to more students properly 
            completing assignments and learning the material without having to rush through them.
        </p>


     </div>
</body>
</html>